<!DOCTYPE html>
<html>
<head>
  <title>RailsProject</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<%= image_tag("race-bike.jpg", class: "img-responsive", size: "400x150")  %>
<%= yield %>
  <h1>Welcome to Bike Berlin</h1>
  <h2>Your source for used bikes in Berlin</h2>

  <div class="row">
  <% @orders.each do |order| %>
    <div class="col-sm">
      <h3>
        Order # <%= order.id %>:
        <%= link_to order.product.name, order %>
      </h3>
      <p><%= order.product.description %></p>
      <strong>$ <%= order.product.price %></strong>
    </div><!-- /col -->
  <% end %>
</div>
  <%# test_variable =42 %>
  <%#= test_variable %>
  <!--footer>
    &copy; 2018 Bike Berlin
  </footer-->

  <body>

  </body>
  </html>
