

<p id="notice"><%= notice %></p>

<p>
  <strong>Name: Bike</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description: Great Bike</strong>
  <%= @product.description %>
</p>



<p>
  <strong>Colour:</strong>
  <%= @product.colour %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
<article class="container products-show">
	<h1> Product:</h1>
	<p id="notice"><%= notice %></p>
	<!-- <div class="row align-items-center ratings-preview">
	<p class="col-sm">

	<i class="far fa-star"></i>
</p>
</div> -->
<!-- <strong>Image url:</strong> <%= @product.image_url %> -->
<section class="row">
	<div class="col-sm-6 img">
		<%= image_tag(@product.image_url, class: "img-fluid") %>

<%= render 'new_comment' %>


	</div>

<%= render 'comments' %>



</article>
