

<p id="notice"><%= notice %></p>

<p>
  <strong>Name: Bike</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description: Great Bike</strong>
  <%= @product.description %>
</p>

<p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
<p>
  <strong>Colour:</strong>
  <%= @product.colour %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<%= form_with(url: '/payments/create') do |form| %>
  <%= render partial: "shared/stripe_checkout_button" %>
   <%= hidden_field_tag(:product_id, @product.id) %>
<% end %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
<article class="container products-show">
  <h1> Product:</h1>
  <p id="notice"><%= notice %></p>
  <!-- <div class="row align-items-center ratings-preview">
  <p class="col-sm">

  <i class="far fa-star"></i>
</p>
</div> -->
<!-- <strong>Image url:</strong> <%= @product.image_url %> -->
<section class="row">
  <div class="col-sm-6 img">
  <%= image_tag(@product.image_url, width: "300", class: "img-zoom", data_zoom_image: @product.image_url) %>

byebug

    <%= render 'new_comment' %>


  </div>

  <%= render 'comments' %>



</article>



<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @comments %>
  </div>
  <%= will_paginate @comments, renderer: BootstrapPagination::Rails, :container => false %>

</div>
